body {
  margin: 0;
  padding: 0;
}
main {
  background-color: white;
  height: 100vh;
  width: 100vw;
}
#map {
  width: 100%;
  height: 100%;
}
.time-control {
  top: 0.5em;
  right: 0.5em;
  padding: 0.5ex;
}
.time-control input {
  background-color: var(--ol-background-color);
}
.taxon-view {
  bottom: 0.5em;
  right: 0.5em;
  padding: 0.5ex;
}
.kind-hierarchy, .kind-children {
  list-style: none;
  margin: 0;
  padding-left: 1ex;
}
.time-scale-control {
  top: 2.5em;
  right: 0.5em;
  padding: 0.5em;
}
.new-observation-control {
  top: 5em;
  right: 0.5em;
  padding: 0.5ex;
}
.new-observation-control button {
  padding: 0.5ex;
  width: auto;
}
.new-observation-control.inactive form {
  display: none;
}
.new-observation-control label {
  display: block;
  font-weight: bold;
  margin-top: 1em;
}
.new-observation-control input {
  display: block;
}
.new-observation-control select {
  display: block;
}
